/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.svgBlobinator {
    margin-left: auto;
    margin-right: auto;
    display:block;
}


svg {
    margin: 0 auto;
}